@using PaypalACW3.Controllers
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Product>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title> Oliver Dry </title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
</head>

@{
    var itemOne = Model.First(i => i.Id == "1");
    var itemTwo = Model.First(i => i.Id == "2");
    var itemThree = Model.First(i => i.Id == "3");
}

<body>

    <div class="tile is-ancestor" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
        <div class="tile is-vertical is-parent is-12">
            <div class="tile">
                <article class="tile is-child notification is-white" style="text-align: center;">
                    <p class="subtitle" style="font-family: 'IBM Plex Mono Light'"><strong>University Cafe</strong> </p>
                    <p class="subtitle" style="font-family: 'IBM Plex Mono Light'">Please Select From The Options Below!</p>
                </article>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor" style="margin-top: 15px;">

        <div class="tile is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <!--- Item 1 --->

                    <article class="tile is-child notification is-white" style="text-align: center;">
                        <div class="bg-white rounded shadow-sm">
                            <img src="@itemOne.Image" style="width: 440px; height: 226px;" class="img-fluid card-img-top">
                            <div class="p-4">
                                <h5 class="text-dark">@itemOne.Name</h5>

                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">£@itemOne.Price</span></p>
                                    <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@itemOne.Id" asp-route-name="@itemOne.Name" asp-route-price="@itemOne.Price" asp-route-image="@itemOne.Image" class="badge badge-danger px-3 rounded-pill font-weight-normal" style="color:white">Buy Now With Paypal</a>

                                </div>
                            </div>
                        </div>
                    </article>
                    <!--- End --->
                    <!--- Item 2 --->
                    <article class="tile is-child notification is-white" style="text-align: center;">
                        <div class="bg-white rounded shadow-sm">
                            <img src="@itemTwo.Image" style="width: 440px; height: 226px;" class="img-fluid card-img-top">
                            <div class="p-4">
                                <h5 class="text-dark">@itemTwo.Name</h5>
                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">£@itemTwo.Price</span></p>
                                   
                               
                                    <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@itemTwo.Id" asp-route-name="@itemTwo.Name" asp-route-price="@itemTwo.Price" asp-route-image="@itemTwo.Image" class="badge badge-danger px-3 rounded-pill font-weight-normal" style="color: white">Buy Now With Paypal</a>
                                </div>

                            </div>
                        </div>
                    </article>
                    <!--- End --->
                    <!--- Item 3 --->

                    <article class="tile is-child notification is-white" style="text-align: center;">
                        <div class="bg-white rounded shadow-sm">
                            <img src="@itemThree.Image" style="width:440px;height:226px;" class="img-fluid card-img-top">
                            <div class="p-4">
                                <h5 class="text-dark">@itemThree.Name</h5>
                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">£@itemThree.Price</span></p>
                                    <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@itemThree.Id" asp-route-name="@itemThree.Name" asp-route-price="@itemThree.Price" asp-route-image="@itemThree.Image" class="badge badge-danger px-3 rounded-pill font-weight-normal" style="color:white">Buy Now With Paypal</a>
                                </div>

                            </div>
                        </div>
                    </article>
                    <!--- End --->
                    <!--- Item 4 --->

                </div>
            </div>
        </div>


    </div>




</body>
</html>
<script>


</script>
